---
---

@import "{{ site.theme }}";

#header_wrap {
    // background: #616161;
    background: lightslategrey;
}

#project_title {
    text-align: center;
    text-shadow: none;
}

#project_tagline { 
    text-align: center;
    text-shadow: none;
}
