---
---

@import "{{ site.theme }}";

#forkme_banner {
    font-size: smaller;
}

#header_wrap {
    background: lightslategrey;
    border: none;
}

#header_wrap a {
    color: white;
}

#main_content_wrap {
    background: white;
    border: none;
}

#footer_wrap {
    background: lightslategrey;
}

#project_title {
    text-align: center;
    text-shadow: none;
}

#project_tagline { 
    text-align: center;
    text-shadow: none;
}

body {
    font-size: larger;
}

.emoji {
    border: none;
    box-shadow: none;
}

h1, h2, h3, h4, h5 {
    color: lightslategrey;
}
